*.o
*.bak
firmware/motor_controller/snooboardcode/F072/Debug/*
firmware/motor_controller/manual_motor_control/F072/Debug/*
firmware/cry_detect/manual_cry_detect/F072/Debug/*
firmware/cry_detect/Cry_Detector/F072/Debug/*
*.Robert
*.swo
*.swp
